/**
 *
 * ProCord main styling
 *
 */
@import url('../fonts/ERUNIVERSEKOI/styles.css');

body
{
	background-color: #6C87CE;
	color: white;
}

body, h1, h2, h3, h4, h5, h6, p, label, span, div, input, .badge, .label, i, b, strong, u, a
{
	font-family: 'ER Univers KOI-8';
	font-weight: bold;
	font-style: normal;
}

a
{
	color: #bdc3c7;
}

a:hover
{
	color: white;
	text-decoration: none;
}

.bottom-footer
{
	margin-top: 40px;
}
